<html>
<head>
  <title>MeuProjeto</title>
</head>
<body>
<div id="TituloDeRegistro">
  <h1>Bem Vindo ao meu Projeto</h1>
</div>
<img alt="zoro" height="120" ngSrc=favicon.ico width="120">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div id="Login">
  <p>Olá! Meu nome é Iann e eu estou <strong>aprendendo</strong> a criar um site!</p>
  <p id="textologin"> Login👇 </p>
  <form class="form-floating">
    <input type="email" class="form-control" id="floatingInput">
  </form>
  <input _ngcontent-ng-c2628785424="" type="Senha" class="form-control">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value id="invalidCheck2" required>
    <label class="form-check-label" for="invalidCheck2" style="font-family: Arial, serif;"> Lembrar de mim? </label>
  </div>
  <button type="button" class="btn btn-outline-secondary">Enviar</button>
  <p>Registre-se <a href="http://localhost:63342/meuprojeto/registro.html">aqui</a>
</div>
<h2>Intuito Do Site</h2>
<p id="Texto1">A tela de login em HTML que criei tem como principal objetivo proporcionar um ambiente de treinamento para aprimorar minhas habilidades de desenvolvimento web. Ela visa oferecer uma experiência prática na criação de formulários e interações de autenticação, contribuindo assim para o meu crescimento como desenvolvedor. (zoro sola)</p>
</body>
</html>
